{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "redux-saga", "react", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules" : {
    "prettier/prettier": [
      "error", {
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "no-tabs": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "func-names": 0,
    "import/prefer-default-export": "off",
    "react/no-multi-comp": ["off", { "ignoreStateless": false }]
  },
  "globals": {
    "localStorage": true,
    "window": true,
    "document": true,
    "fetch": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["source"]
      }
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.4",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ]
  }

}

